/*
filename: [lab04.css]
author: [Luke Batchelor, Cat Ater]
created: [27/03/2022]
last modified: [27/03/2022]
description: [index.html, topic.html, quiz.html]
*/

*{font-family:sans-serif; color:#2F4F4F;}
.reference{vertical-align:super;font-size:80%;}
/*header formatting*/
h1{font-family:consolas; font-size:300%;}
img.logo{width: 10%;}
figcaption.logo{text-align:left;}
header{background-color:#ebebeb;}
nav{padding:10px;}
nav a:hover{color:blue;}

h2, h3{font-family:consolas;}

#intro{color:#525252; background-color:#f0f0f0;padding:3px;}

body.index {
    background-image: url("images/wires.jpg");
    background-color: #cccccc;
}

/*table formatting*/
th{background-color:darkgrey;}
td{background-color:lightgrey;}

aside{
	float:right;
	width:30%;
	border:3px solid lightgrey;
}

/*footer formatting*/
footer{
    font-style: italic;
	color: #f0f0f0;
	background-color: #4a4a4a;
	padding: 10px;
	text-align:center;
	width:100%;
}
footer ol{text-align:left;}
footer *{
	font-style: italic;
	color: #f0f0f0;
}
