/*
filename: [lab04.css]
author: [Luke Batchelor, Cat Ater]
created: [27/03/2022]
last modified: [27/03/2022]
description: [index.html, topic.html, quiz.html]
*/

/*Global deines for text styles */
*{
	font-family:sans-serif; 
	color:#2F4F4F;
}

/*CSS definition for references. */ 
.reference{
	vertical-align:super;
	font-size:80%;
}

/*header formatting*/
h1{
	font-family:consolas; 
	font-size:300%;
}

/*Style aligning the logo image to top left of the screen*/
img.logo{
	width: 80px;
	float: right;
	position: relative;
	size: 20%;
	top: -95px;
	left: -15px;
}

/**/
figcaption.logo{
	text-align:left;
	float: right;
	position: relative;
	top: 0px;
	left: +100px; 
}

/**/
header{
	background-color:#ebebeb;
	border: #2F4F4F solid 2px;
	outline-color: darkgray;
}

/**/
nav{
	padding:10px;
}

/**/
nav a:hover{
	color:blue;
}

/**/
h2, h3{
	font-family:consolas;
}

/**/
#intro{
	color:#525252; 
	background-color:#f0f0f0;
	padding:3px;
}

/**/
body.index {
    background-image: url("images/wires.jpg");
    background-color: #cccccc;
}

/**/
aside{
	float:right;
	width:30%;
	border:3px solid lightgrey;
	padding: 2px;
	font-size:90%;
}

/*table formatting*/
th{
	background-color:darkgrey;
}

td{
	background-color:lightgrey;
}

ol ul{list-style-type:circle;}

/*footer formatting*/
footer{
    font-style: italic;
	color: #f0f0f0;
	background-color: #4a4a4a;
	padding: 10px;
	text-align:center;
	width:100%;
}

/*Align the footer text.*/
footer ol{
	text-align:left;
}

/*Style the text elements present within the footer.*/
footer *{
	font-style: italic;
	color: #f0f0f0;
}
