*{font-family:sans-serif; color:#2F4F4F;}
#intro{color:#525252; background-color:#cccccc;}
.superscript{vertical-align:super;font-size:50%;}

.index::before {
    background-image: url("/styles/images/Wires.jpg");
    background-color: #cccccc;
    background-size: cover;
    opacity: 0.2;
}

footer{
    font-style: italic
}
